.profile-container {
    position: absolute;
    left: 30%;
    width: 40%;
    margin: 20px auto 0px auto;
    padding: 60px;
    background-color: #f4f4f4;
    border-radius: 40px 10px 40px 10px;
    box-shadow: 10px 10px 11px -3px rgba(0, 0, 0,1);
}

.spinner {
    position: absolute;
    left: 47%;
    width: 6%;
    margin-top: 40px;
}