.notes-list {
    width: 350px;
    min-height: 250px;
    padding: 25px;
    word-wrap: break-word;
    box-sizing: border-box;
    background-color: #f4f4f4;
    border-radius: 40px 40px 40px 40px;
    box-shadow: 10px 10px 11px -3px rgba(0, 0, 0, 0.4);
}

.btn {
    outline-width: 0;
    outline: none;
    box-shadow: none;
}