<div class = "navbar-section">

    <a 
        routerLink = "/home"
        routerLinkActive = "active"
        [routerLinkActiveOptions]="{ exact: true }">
        Add Note
    </a>

    <a
        routerLink = "/home/notes"
        routerLinkActive = "active">
        Notes
    </a>

    <a
        routerLink = "/home/profile"
        routerLinkActive = "active">
        Profile
    </a>

    <a
        (click) = "onLogout()">
        Logout
    </a>
    
</div>

<div class = "hr-line"></div>
