<div class = "signup-container">

    <h4> Signup here </h4>

    <hr>

    <form [formGroup] = "userSignupForm" (ngSubmit) = "onFormSubmit()">

        <!-- User Name Section -->

        <div class = "form-group">

            <label for = "userName"> Name </label>

            <input
                type = "text"
                class = "form-control form-control-sm"
                name = "userName"
                formControlName = "userName"
                id = "userName"
                placeholder = "Your Name"
                autocomplete = "off">

            <div *ngIf = "(userName.touched || userName.dirty) && userName.invalid">
                <p *ngIf = "userName.errors.required" class = "red"> Username is required. </p>
                <p *ngIf = "userName.errors.minlength" class = "red"> Username should be minimum of 5 character's. </p>
            </div>

        </div>

        <!-- User Email Section -->

        <div class = "form-group">

            <label for = "userEmail"> Email </label>

            <input 
                type = "text"
                class = "form-control form-control-sm"
                name = "userEmail"
                formControlName = "userEmail"
                id = "userEmail"
                placeholder = "Your Email"
                autocomplete = "off">

            <div *ngIf = "(userEmail.touched || userEmail.dirty) && userEmail.invalid">
                <p *ngIf = "userEmail.errors.required" class = "red"> Email is required. </p>
                <p *ngIf = "userEmail.errors.email" class = "red"> Invalid Email. </p>
            </div>

        </div>

        <!-- User Password Section -->

        <div class = "form-group">

            <label for = "userPassword"> Password </label>

            <input
                type = "password"
                class = "form-control form-control-sm"
                name = "userPassword"
                formControlName = "userPassword"
                id = "userPassword"
                placeholder = "Your Password"
                autocomplete = "off">

            <div *ngIf = "(userPassword.touched || userPassword.dirty) && userPassword.invalid">

                <p [ngClass] = "{'red': !userPassword.errors.rules.hasLowerCase, 'green' : userPassword.errors.rules.hasLowerCase}"> Password should have atleast one Lower case letter. </p>
                <p [ngClass] = "{'red': !userPassword.errors.rules.hasUpperCase, 'green' : userPassword.errors.rules.hasUpperCase}"> Password should have atleast one Upper case letter. </p>
                <p [ngClass] = "{'red': !userPassword.errors.rules.hasNumbers, 'green' : userPassword.errors.rules.hasNumbers}"> Password should have atleast one number. </p>
                <p [ngClass] = "{'red': !userPassword.errors.rules.hasSpecialSymbols, 'green' : userPassword.errors.rules.hasSpecialSymbols}"> Password should have atleast any of these . , ! @ # symbols. </p>
                <p [ngClass] = "{'red': !userPassword.errors.rules.hasMinimumLength, 'green' : userPassword.errors.rules.hasMinimumLength}"> Password should be of minimum 8 character's in length. </p>
    
            </div>

        </div>

        <!-- User Location Section -->

        <div class = "form-group">

            <label for = "userLocation"> Lives in </label>

            <input
                type = "text"
                class = "form-control form-control-sm"
                name = "userLocation"
                formControlName = "userLocation"
                id = "userLocation"
                placeholder = "City where you live"
                autocomplete = "off">

            <div *ngIf = "(userLocation.touched || userLocation.dirty) && userLocation.invalid">
                <p *ngIf = "userLocation.errors.required" class = "red"> Location is required. </p>
            </div>


        </div>

        <button
            type = "submit"
            class = "btn btn-primary btn-sm"
            [disabled] = "userSignupForm.invalid">
            Signup
        </button>

        <p> Already have an account?
            <a
                routerLink = "/login">
                Login here..
            </a>
        </p>

    </form>

</div>